*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: '../font/AvenirNext/Avenir Next LT Pro Bold';
    src: url('../font/AvenirNext/AvenirNextLTPro-Bold.eot');
    src: url('../font/AvenirNext/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/AvenirNext/AvenirNextLTPro-Bold.woff2') format('woff2'),
    url('../font/AvenirNext/AvenirNextLTPro-Bold.woff') format('woff'),
    url('../font/AvenirNext/AvenirNextLTPro-Bold.ttf') format('truetype'),
    url('../font/AvenirNext/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro Italic';
    src: url('../font/AvenirNext/AvenirNextLTPro-It.eot');
    src: url('../font/AvenirNext/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
    url('../font/AvenirNext/AvenirNextLTPro-It.woff2') format('woff2'),
    url('../font/AvenirNext/AvenirNextLTPro-It.woff') format('woff'),
    url('../font/AvenirNext/AvenirNextLTPro-It.ttf') format('truetype'),
    url('../font/AvenirNext/AvenirNextLTPro-It.svg#AvenirNextLTPro-It') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro Regular';
    src: url('../font/AvenirNext/AvenirNextLTPro-Regular.eot');
    src: url('../font/AvenirNext/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/AvenirNext/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('../font/AvenirNext/AvenirNextLTPro-Regular.woff') format('woff'),
    url('../font/AvenirNext/AvenirNextLTPro-Regular.ttf') format('truetype'),
    url('../font/AvenirNext/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Avenir Next LT Pro Regular',Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    box-sizing: border-box;
    /*background-color: #F5F5F8;*/
}

h4 {
    font-size:24px;
    margin: 0 0 1rem 0;
    padding:0;
    font-weight: bold;
    font-family: 'Avenir Next LT Pro Bold',Arial, sans-serif;
}

h5 {
    font-size: 20px;
    margin: 0 0 1rem 0;
    padding:0;
    font-weight: bold;
    font-family: 'Avenir Next LT Pro Bold',Arial, sans-serif;
}

h6  {
    font-size: 16px;
    margin: 0 0 1rem 0;
    padding:0;
    font-weight: bold;
    font-family: 'Avenir Next LT Pro Bold',Arial, sans-serif;
}

p{
    font-size: 16px;
    margin: 0 0 1rem 0;
    padding:0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.container {
    max-width: 768px;
    margin: auto;
}

.bottomBar {
    display: block;
    width: 100%;
    position: fixed;
    max-width: 768px;
    margin: auto;
    bottom: 0;
    padding: 0;
    color: red;
    z-index: 9;
}

.bottomBox {
    display: inline-block;
    width: 25%;
    padding: 1rem 0.5rem;
    margin: 0;
    text-align: center;
}

.wrapper {
    position: relative;
    display: block;
    padding: 0 0.5rem;
    width: 100%;
}


.content {
    display: block;
    position: relative;
    padding: 0 0 4rem 0;
}

header {
    position: relative;
    display: block;
    width: 100%;
    max-width: 768px;
    padding: 1.4rem 1rem 1rem 1rem;
    /*background-color: #F5F5F8;*/
    background-color: #ffffff;
    z-index: 1;
}

.logo {
   display: inline-block;
    position: relative;
}

.logo img {
    width: 100px;
}

.language {
    cursor: pointer;
    float: right;
}

.language-dropdown-content {
    display: none;
    position: absolute;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    max-width:768px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.language-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

.content {

}

.product-image {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.product-image img {
    width: 100%;
    border-radius: 4px;
}

.product-title{
    display: inline-block;
}

.share {
    padding: 0.5rem 0 0 0;
    float: right;
}

.buttonPatagoniaBefore {
    width: 288px;
    height: 48px;
    border-radius: 30px;
    border: solid 1px #000000;
    background-color: #ffffff;
    margin: auto;
    text-align: center;
    color: #000000;
    line-height: 48px;
    cursor: pointer;
}
/*buttonPatagoniaBefore changes opacity in JavaScript*/


.buttonSection {
    margin:2rem auto;
}

.buttonSectionInnerPicture{
    display: block;
    padding: 1rem 0;
}

.buttonSectionInnerPicture img{
    width: 100px;
}

#buttonOne-content {
    display: block;
}

#buttonOneContentOpened {
    display: none;
    padding: 1rem;
}

#buttonOneContentMore {
    display: none;
}

#buttonOneReadMoreClick {
    text-decoration: underline;
    color: #808080;
    cursor: pointer;
}

.link-to-more {
    text-decoration: underline;
    color: #808080;
    cursor: pointer;
}

#buttonTwoContent{
    display: none;
    padding: 1rem;
}


.laundry-icons {
    display: block;
}

.icon-box {
    display: table;
    margin: 0 auto;
}

.icon-box img{
    padding: 0 0.5rem;
}


#buttonThreeContentOpened {
    display: none;
    padding: 1rem;
}

#buttonThreeContentOpenedMore{
    display: none;
}

#buttonThreeReadMoreClick {
    text-decoration: underline;
    color: #808080;
    cursor: pointer;
}

#buttonFourContent{
    display: none;
    padding: 1rem;
}


