*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: '../font/AvenirNext/Avenir Next LT Pro Bold';
    src: url('../font/AvenirNext/AvenirNextLTPro-Bold.eot');
    src: url('../font/AvenirNext/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/AvenirNext/AvenirNextLTPro-Bold.woff2') format('woff2'),
    url('../font/AvenirNext/AvenirNextLTPro-Bold.woff') format('woff'),
    url('../font/AvenirNext/AvenirNextLTPro-Bold.ttf') format('truetype'),
    url('../font/AvenirNext/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro Italic';
    src: url('../font/AvenirNext/AvenirNextLTPro-It.eot');
    src: url('../font/AvenirNext/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),
    url('../font/AvenirNext/AvenirNextLTPro-It.woff2') format('woff2'),
    url('../font/AvenirNext/AvenirNextLTPro-It.woff') format('woff'),
    url('../font/AvenirNext/AvenirNextLTPro-It.ttf') format('truetype'),
    url('../font/AvenirNext/AvenirNextLTPro-It.svg#AvenirNextLTPro-It') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro Regular';
    src: url('../font/AvenirNext/AvenirNextLTPro-Regular.eot');
    src: url('../font/AvenirNext/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/AvenirNext/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('../font/AvenirNext/AvenirNextLTPro-Regular.woff') format('woff'),
    url('../font/AvenirNext/AvenirNextLTPro-Regular.ttf') format('truetype'),
    url('../font/AvenirNext/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Avenir Next LT Pro Regular',Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    box-sizing: border-box;
    /*background-color: #F5F5F8;*/
}

.container {
    max-width: 768px;
    margin: auto;
}

h4 {
    font-size:24px;
    margin: 0 0 1rem 0;
    padding:0;
    font-weight: bold;
    font-family: 'Avenir Next LT Pro Bold',Arial, sans-serif;
}

h5 {
    font-size: 20px;
    margin: 0 0 1rem 0;
    padding:0;
    font-weight: bold;
    font-family: 'Avenir Next LT Pro Bold',Arial, sans-serif;
}

h6  {
    font-size: 16px;
    margin: 0 0 1rem 0;
    padding:0;
    font-weight: bold;
    font-family: 'Avenir Next LT Pro Bold',Arial, sans-serif;
}

p{
    font-size: 16px;
    margin: 0 0 1rem 0;
    padding:0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.wrapper {
    position: relative;
    display: block;
    padding: 0 1rem;
    width: 100%;
}

header {
    position: relative;
    display: block;
    width: 100%;
    max-width: 768px;
    padding: 1.4rem 1rem 1rem 1rem;
    /*background-color: #F5F5F8;*/
    background-color: #ffffff;
    z-index: 1;
}

.logo {
   display: inline-block;
    position: relative;
}

.logo img {
    width: 100px;
}

.language {
    cursor: pointer;
    float: right;
}

.language-dropdown-content {
    display: none;
    position: absolute;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    max-width:768px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.language-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}

.content {

}

.product-image {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.product-image img {
    width: 100%;
    border-radius: 4px;
}

.product-title{
    display: inline-block;
}

.share {
    padding: 0.5rem 0 0 0;
    float: right;
}

.button {
    width: 288px;
    height: 48px;
    border-radius: 30px;
    background-color: #000000;
    margin: auto;
    text-align: center;
    color: #ffffff;
    line-height: 48px;
    cursor: pointer;
    outline:none;
}
/*button changes opacity in JavaScript*/


.detail {
    margin:2rem auto;
}

#detail-content {
    display: block;
}

#detailOpened {
    display: none;
    padding: 1rem;
}

#detailMore {
    display: none;
}

#detailReadMoreClick {
    text-decoration: underline;
    color: #808080;
    cursor: pointer;
}

.link-to-more {
    text-decoration: underline;
    color: #808080;
    cursor: pointer;
}

.care {
    margin:2rem auto;
}

#care-content{
    display: none;
    padding: 1rem;
}


.laundry-icons {
    display: block;
}

.icon-box {
    display: table;
    margin: 0 auto;
}

.icon-box img{
    padding: 0 0.5rem;
}

.circularity {
    margin:2rem auto;
}

#circularity-opened {
    display: none;
    padding: 1rem;
}

#circularity-more{
    display: none;
}

#circularity-read-more-click {
    text-decoration: underline;
    color: #808080;
    cursor: pointer;
}

footer {
    font-size: 12px;
    margin: auto;
    padding: 2rem;
    text-align: center;
}
